/* this is where CSS for our donate page, using Donate.ly lives. */

.donately-preset-fields .donately-preset-amounts label {
    -webkit-border-radius: 2px;
    -moz-border-radius: 10px;
    border-radius: 2px;
    color: #000;
    background-color: #ffffff;
    border: 1px solid #9e9e9e;
}

.donately-preset-fields .donately-preset-amounts label:hover {
    border-color: #000;
    background: #ffffff;
    box-shadow: none;
}

.donately-secure-fields {
    border: 1px solid #9e9e9e;
    background-color: #ffffff;
    border-radius: 2px;
}

.donately-secure-header {
    background-color: #ffffff;
    border-bottom: 1px solid #9e9e9e;
    color: #83939b;
    padding: 1em 1.5em;
    margin-bottom: 1em;
    box-shadow: none;
}

input#donately-card-number {
    padding-right: 0;
}

input.donately-text-input {
    background-color: #fff;
    color: #333;
    border: 1px solid #9e9e9e;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    border-radius: 2px;
}

.donately-city-group select, .donately-state-group select {
    border: 1px solid #9e9e9e;
    font-size: 16px;
    color: #4f4f4f;
}

.donately-country-group select {
    border: 1px solid #9e9e9e;
    font-size: 16px;
    color: #4f4f4f;
}

.donately-custom-fields select {
    border: 1px solid #9e9e9e;
    font-size: 16px;
    color: #4f4f4f;
}

.donately-btn {
    font-family: inherit;
    -webkit-appearance: none;
    margin: 10px 0 0 0;
    font-size: 16px;
    font-weight: 600;
    vertical-align: middle;
    border-radius: 2px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    background-color: #CD1F42;
    border-color: #CD1F42;
    outline: none;
    padding: 10px 14px;
}

.donately-btn:hover {
    background-color: #BD1B3C;
    border-color: #BD1B3C;
}