*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.page-content {
  padding: 0 $site-margins;
}

.lt-ie9 {
  // Hack for clearfixes
  * {
    filter: none !important;
  }
}

img {
  max-width: 100%;
}

hr {
  border: 0;
  border-top: 1px solid $color-light-gray;
}
