.template-campaign-page {
  .hero-content {
    padding-bottom: 6rem;
  }

  .hero-title {
    font-size: 4rem;
    line-height: 4rem;
    padding-right: 1em;
  }

  .call-to-action {
    background-color: #fff;
    padding: 1rem 2rem;
  }

  .call-to-action p {
    color: $color-black;
    font-size: 1.4rem;
  }

  .call-to-action .button {
    width: 100%;
  }

  .action-card .button {
    padding: 1em 3em;
  }
}
