.template-home {
  .home-hero {
    @include clearfix;
    background-color: $color-black;
    color: white;

    background-size: cover;
    @include media($tablet-up) {
      min-height: 32rem;
    }
  }

  .home-hero-header {

  }

  .home-hero-content {
    padding: 1em $site-margins;
  }
  .home-hero-title {
    @include h2;
    font-weight: 600;
    @include media($tablet-up) {
      @include title;
    }
    color: white;
  }
  .home-hero-lead-in {
    font-weight: 600;
    color: white;
    @include media($tablet-up) {
      @include h4;
      color: white;
    }
  }
}
