.alert {
  background-color: $color-shade-gray;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  color: $color-red;
  font-weight: 600;
  padding: 0.5rem 0;

  a {
    color: $color-red;
  }
}

%alert--reverse {
  color: $color-white;

  a {
    color: $color-white;
  }
}

// Basic variants

.alert--primary {
  @extend %alert--reverse;
  background-color: $color-primary;
}

.alert--success {
  @extend %alert--reverse;
  background-color: $color-success;
}

.alert--caution {
  @extend %alert--reverse;
  background-color: $color-caution;
}

.alert--danger {
  @extend %alert--reverse;
  background-color: $color-danger;
}

// Color variants

.alert--black {
  @extend %alert--reverse;
  background-color: $color-black;
}

.alert--darkest-blue {
  @extend %alert--reverse;
  background-color: $color-darkest-blue;
}
