.alert {
  color: $color-grey-600;
  background-color: $color-grey-200;

  .alert-title,
  .alert-message {
    display: block;
    padding: 0.1rem 0.25rem;
    @include media($tablet-up) {
      display: inline-block;
      padding: 0.5rem;
    }
  }

  .alert-title {
    font-weight: 800;
  }

  .alert-action {
    display: block;
    width: 100%;
    padding: 0.5rem;
    background-color: $color-shade-gray;
    top: 1px solid rgba( $color-shade-gray, 0.3);
    color: $color-grey-800;
    font-weight: 600;
    text-decoration: none;
  }
}

.info-alert {
  @extend .alert;
}

.caution-alert {
  @extend .alert;
  color: $color-grey-50;
  background-color: $color-caution;
  .alert-action {
    background-color: lighten($color-caution, 30%);
    top: 1px solid rgba( $color-caution, 0.3);
  }
}

.danger-alert {
  @extend .alert;
  color: $color-grey-50;
  background-color: $color-danger;
  .alert-action {
    background-color: lighten($color-danger, 30%);
    top: 1px solid rgba( $color-danger, 0.3);
  }
}
