.breadcrumbs {
  @include h6;
  margin-bottom: $space-sm;
  margin-top: $space-sm;
}

.breadcrumbs__item,
.breadcrumbs-item {
  color: $color-darkest-gray;
  display: inline-block;
  margin-bottom: 0.375rem;
  margin-right: 0.375rem;

  a {
    color: $color-dark-gray;
    text-decoration: underline;

    &:hover {
      color: $color-dark-blue;
      text-decoration: underline;
    }
  }

  &:not(:last-of-type) {
    &::after {
      @include icon;
      color: $color-gray;
      content: '\f178';
      margin-left: 0.5rem;
      position: relative;
      top: 1px;
    }
  }
}
