.face {
  @include clearfix;

  display: block;
  margin-bottom: $space-lg;
  margin-top: $space-lg;
}

.face__name,
.face-name {
  display: block;
  margin: 0;
  padding-top: 1rem;
}

.face__title,
.face-title {
  line-height: 1.3;
  margin-top: 0.1rem;
}

.face__photo,
.face-photo {
  border-radius: 50%;
  float: left;
  height: 6rem;
  margin-right: 1rem;
  width: 6rem;
}
