.list-group {
  border: 1px solid $color-light-gray;
  list-style: none;
  margin-bottom: $space-md;
  padding: 0;
}

.list-group__item {
  border-bottom: 1px solid $color-light-gray;
  display: block;
  list-style: none;
  margin: 0;
  padding: $space-sm;

  // a.list-group__item
  @at-root a#{&} {
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }

  &:last-child {
    border-bottom: 0;
  }

  &:hover {
    background-color: $color-lightest-gray;
  }
}

.list-group__item--active {
  background-color: $color-lightest-gray;
  font-weight: bold;
}
