.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.logos__item, a.logos__item,
.logo-item, a.logo-item {
  @include media($tablet-up) {
    padding: 20px;
    width: 15%;
  }

  align-items: center;
  display: flex;
  margin: 0.25rem 0;
  padding: 5px;
  width: 30%;
}
