.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.logo-item, a.logo-item {
  align-items: center;
  display: flex;
  margin: 0.25rem 0;
  padding: 5px;
  width: 30%;

  @include media($tablet-up) {
    width: 15%;
    padding: 20px;
  }
}
