.logos {
  margin: {
    top: 1rem;
  }
}
.logo-item {
  margin: {
    top: 1rem;
    bottom: 1rem;
  }
  // Respond down to make them half-size
  @media screen and (max-width: $tablet-up) {
    float: left;
    width: 50%;
    margin: {
      left: 0;
      right: 0;
    }
    padding: 20px;
  }
}
