.sidebar {
  p {
    font-size: $small-font-size;
  }

  h2 {
    font-family: $font-sans;
    font-size: $small-font-size;
    font-weight: 400;
  }
}

.sidebar-menu {
  margin-bottom: 4em;
  margin-left: -0.5em;

  > li {
    margin: 0;

    > a {
      color: $color-grey-700;
      display: block;
      font-family: $font-serif;
      font-size: $small-font-size;
      padding: 0.5em;
      text-decoration: none;

      &:hover {
        background-color: $color-grey-100;
        border-left: 3px solid $color-primary;
        color: $color-black;
        margin-left: -3px;
      }
    }

    &.is-selected {
      > a {
        background-color: $color-grey-100;
        border-left: 3px solid $color-primary;
        color: $color-black;
        margin-left: -3px;
      }
    }
  }
}

.sidebar-menu-sublist {
  > li {
    color: $color-grey-800;
    font-family: $font-sans;
    font-size: $small-font-size;
    font-weight: 400;
    margin-bottom: 1em;

    &:first-child {
      margin-top: 0.5em;
    }

    &:last-child {
      margin-bottom: 1em;
    }

    > a {
      color: inherit;
      display: block;
      line-height: $tight-line-height;
      padding: 0 1.5em;
      position: relative;
      text-decoration: none;

      &:hover {
        color: $color-primary;
      }
    }

    &.is-selected {
      > a {
        color: $color-primary;

        &::after {
          @include icon;

          content: "\f054";
          margin-top: -$tight-line-height / 2;
          position: absolute;
          right: 0.5em;
          top: 50%;
        }
      }
    }
  }
}
