.slab {
  @include clearfix;

  @include media($tablet-up) {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }

  background-position: center center;
  background-size: cover;
  display: block;
  margin-left: -$site-margins;
  margin-right: -$site-margins;
  padding: 2rem $site-margins;

  h1, h2, h3, h4, h5, h6, .grid-box {
    margin-left: auto;
    margin-right: auto;
    max-width: $site-max-width;
  }

}

.slab-title {
  @include h3;
  color: $color-black;
  font-weight: 600;
}


// Variants
.center-align-slab {
  text-align: center;
}

.border-top-slab {
  position: relative;

  &::before {
    background-color: $color-light-gray;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: $site-max-width;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

.border-bottom-slab {
  @extend .border-top-slab;

  &::before {
    bottom: 0;
    top: auto;
  }
}

.slab--compact,
.tight-slab {
  @include media($tablet-up) {
    padding: 2rem $site-margins;
  }

  padding: 2rem $site-margins;
}

.slab--angled {
  clip-path: polygon(
    0 3vw,
    100% 0,
    100% calc(100% - 3vw),
    0 100%
  );
  margin-bottom: -3vw;
  margin-top: -3vw;
  z-index: 2;
}

// Slabs with background colors
%reverse-slab {
  color: $color-white;

  h1, h2, h3, h4, h5, h6, p {
    color: $color-white;
  }
}

.slab--white,
.white-bg-slab {
  background-color: $color-white;
}

.slab--blue,
.blue-bg-slab {
  @extend %reverse-slab;
  background-color: $color-blue;
}

.slab--dark-blue,
.dark-blue-bg-slab {
  @extend %reverse-slab;
  background-color: $color-dark-blue;
}

.slab--darkest-blue,
.darkest-blue-bg-slab {
  @extend %reverse-slab;
  background-color: $color-darkest-blue;
}

.slab--gray,
.gray-bg-slab {
  background-color: $color-lightest-gray;
}

.slab--red,
.red-bg-slab {
  @extend %reverse-slab;
  background-color: $color-red;
}
