<header class="global-header">
  <div class="grid-box">
    <div class="grid-item width-one-whole">
        <div class="align-left">
          <div class="global-header-logo">
            <a href="/">
              <img class="header-icon align-left" src="/media/images/cfa-logo-color.png" alt="Code for America Logo" />
              <p class="global-header-title align-left">{{ site.title }} <span class="subtitle">{{ include.section }}</span></p>
            </a>
          </div>
        </div>
    </div>
  </div>
</header>
