$hero-color: $color-blue !default;

.hero {
  background-color: $hero-color;
  background-position: center center;
  background-size: cover;
  color: $color-white;
}

.hero__content {
  @include media($tablet-up) {
    padding-bottom: 3rem;
  }

  padding-bottom: 2rem;
  padding-left: $site-margins;
  padding-right: $site-margins;

  h1, h2, h3, h4, h5, h6, p, a {
    color: inherit;
    font-weight: 600;
  }
}


// Variants

.hero--jumbo {
  .hero__content {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 80vh;
    padding: 3em 1em;
  }

  .hero__title {
    @include media($tablet-up) {
      font-size: 4em;
    }

    font-size: 2em;
    line-height: 1;
    margin-bottom: 1em;
  }
}
