$mobile-nav-background-color: $color-dark-blue !default;

.mobile-navigation.global-header-navigation {
  @media screen and (max-width: $tablet-up) {
    @include transition(opacity 0.25s ease-in-out);

    background-color: $mobile-nav-background-color;
    bottom: 0;
    display: block;
    left: 0;
    opacity: 0;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;

    .mobile-navigation-is-active & {
      opacity: 1;
      z-index: 1;

      .global-header-menu {
        float: none;
        z-index: 2;

        a {
          color: $color-white;
          display: block;
          font-size: 1.2rem;
          font-weight: 600;
          padding: 1rem;
          width: 100%;
        }
      }

      .global-header-menu + .global-header-menu {
        margin-top: 1rem;

        &::before {
          background-color: $color-white;
          content: '';
          display: block;
          height: 1px;
          margin-bottom: 1rem;
          position: relative;
          width: 100%;
        }
      }
    }
  }
}

.mobile-navigation-button {
  display: none;
  margin-bottom: 2rem;
  margin-top: 0;
  z-index: 2;

  a {
    margin: 0;
    position: absolute;
    right: 1rem;
  }

  .mobile-navigation-is-active & {
    display: block;
  }
}

body.mobile-navigation-is-active {
  overflow: hidden;
}
