aside {
  background-color: $color-lightest-gray;
  border: 1px solid $color-light-gray;
  margin-bottom: 1em;
  padding: 1em 1.5em;

  & *:first-child {
    margin-top: 0;
  }

  & *:last-child {
    margin-bottom: 0;
  }

  a {
    color: inherit;

    &:hover, &:active, &:visited {
      color: inherit;
    }
  }
}
