blockquote {
  color: $color-darkest-blue;
  font-size: map-get($h4-styles, font-size);
}

blockquote cite {
  font-size: $em-base;
  font-style: normal;
  color: $color-black;

  &:before {
    content: "— ";
  }
}
