blockquote, .blockquote {
  color: $color-darkest-blue;
  font-size: map-get($h4-styles, font-size);
}

.blockquote__footer {
  color: $color-black;
  font-size: $em-base;
  font-style: normal;

  &::before {
    content: "— ";
  }
}
