<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html>                     <!--<![endif]-->

  {% include head.html %}

  <body>
    <div class="template-styleguide">
      {% include header.html section="Pattern Library" %}
      <div class="main-content">
        <div class="grid-box">
            <div class="styleguide-sidebar sidebar grid-item width-one-fourth">
              <ul class="sidebar-menu unstyled-list">
                <li class="is-selected"><a href="/">Introduction</a></li>
                <li class="is-selected"><a href="{% link usage.md %}">Usage Instructions</a></li>
                <li class="is-selected">
                  <a href="#">Atoms</a>
                  <ul class="sidebar-menu-sublist unstyled-list">
                    {% assign ordered_atoms = site.atoms | sort: "order" %}
                    {% for atom in ordered_atoms %}
                    <li class="{% if page.url == atom.url %}is-selected{% endif %}"><a href="{{ atom.url }}">{{ atom.title }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                <li class="is-selected">
                  <a href="#">Molecules</a>
                  <ul class="sidebar-menu-sublist unstyled-list">
                    {% assign ordered_molecules = site.molecules | sort: "order" %}
                    {% for molecule in ordered_molecules %}
                    <li class="{% if page.url == molecule.url %}is-selected{% endif %}"><a href="{{ molecule.url }}">{{ molecule.title }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                <li class="is-selected">
                  <a href="#">Organisms</a>
                  <ul class="sidebar-menu-sublist unstyled-list">
                    {% assign ordered_organisms = site.organisms | sort: "order" %}
                    {% for organism in ordered_organisms %}
                    <li class="{% if page.url == organism.url %}is-selected{% endif %}"><a href="{{ organism.url }}">{{ organism.title }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                <li class="is-selected">
                  <a href="#">Templates</a>
                  <ul class="sidebar-menu-sublist unstyled-list">
                    {% assign ordered_templates = site.templates | sort: "order" %}
                    {% for template in ordered_templates %}
                    <li class="{% if page.url == template.url %}is-selected{% endif %}"><a href="{{ template.url }}">{{ template.title }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                <li class="is-selected">
                  <a href="#">Developers</a>
                  <ul class="sidebar-menu-sublist unstyled-list">
                    {% assign ordered_developers = site.developers | sort: "order" %}
                    {% for template in ordered_developers %}
                    <li class="{% if page.url == template.url %}is-selected{% endif %}"><a href="{{ template.url }}">{{ template.title }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
            </div>
            <article class="styleguide-content grid-item width-two-thirds shift-one-twelfth">
              <header class="page-header">
                <h1 class="style-guide-heading">{{ page.title }}</h1>
                {% if page.description %}<p class="lead-in-text">{{ page.description }}</p>{% endif %}
              </header>
              {{ content }}
            </article>
          </div>
        </div>
    </div>
    <script src="{{ '/js/jquery-1.11.2.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/prism.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/styleguide.js' | prepend: site.baseurl }}"></script>
    <!--[if lt IE 9]>
      <script src="{{ '/js/rem.min.js' | prepend: site.baseurl }}"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->
  </body>

</html>
