<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html>                     <!--<![endif]-->

  {% include head.html %}

  <body>
    <div class="template-styleguide">
      {% include header.html %}
      <div class="main-content">
        <div class="grid-box">
            <div class="styleguide-sidebar sidebar grid-item width-one-fourth">
              <ul class="sidebar-menu">
                <li class="is-selected"><a href="/">Introduction</a></li>
                <li class="is-selected">
                  <a href="#">Components</a>
                  <ul class="sidebar-menu-sublist">
                    {% assign ordered_components = site.components | sort: "order" %}
                    {% for component in ordered_components %}
                    <li class="{% if page.url == component.url %}is-selected{% endif %}"><a href="{{ component.url }}">{{ component.title }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                <li class="is-selected">
                  <a href="#">Page Templates</a>
                  <ul class="sidebar-menu-sublist">
                    {% assign ordered_templates = site.templates | sort: "order" %}
                    {% for template in ordered_templates %}
                    <li class="{% if page.url == template.url %}is-selected{% endif %}"><a href="{{ template.url }}">{{ template.title }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                <li class="is-selected">
                  <a href="#">Developers</a>
                  <ul class="sidebar-menu-sublist">
                    {% assign ordered_developers = site.developers | sort: "order" %}
                    {% for template in ordered_developers %}
                    <li class="{% if page.url == template.url %}is-selected{% endif %}"><a href="{{ template.url }}">{{ template.title }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
            </div>
            <article class="styleguide-content grid-item width-two-thirds shift-one-twelfth">
              <header class="content-header">
                <h1>{{ page.title }}</h1>
              </header>
              {{ content }}
            </article>
          </div>
        </div>
    </div>
    <script src="{{ '/js/jquery-1.11.2.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/prism.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/styleguide.js' | prepend: site.baseurl }}"></script>
    <!--[if lt IE 9]>
      <script src="{{ '/js/rem.min.js' | prepend: site.baseurl }}"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->
  </body>

</html>
